$primary-color: #1ba1f2;
$warning-color: #ffad1d;
$danger-color: #e0235e;
$white-color: #fff;
$background-color: #e2e2e2;

.wrapper {
  height: 34px;
  width: 34px;
}

.circularChart {
  height: 100%;
  width: 100%;
  stroke: $primary-color;

  &.warning {
    stroke: $warning-color;
  }

  &.danger {
    stroke: $danger-color;
  }
}

.circleBg {
  fill: none;
  stroke-width: 2;
  stroke: $background-color;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.content {
  font-size: 1em;
  font-weight: lighter;
  text-anchor: middle;
}
